@font-face {
  font-family: "Golos-light";
  src: url("./fonts/Golos-UI_VF.ttf");
}
@font-face {
  font-family: "Golos-Regular";
  src: url("./fonts/Golos-UI_Regular.ttf");
}
@font-face {
  font-family: "Golos-Medium";
  src: url("./fonts/Golos-UI_Medium.ttf");
}
@font-face {
  font-family: "Golos-Bold";
  src: url("./fonts/Golos-UI_Bold.ttf");
}
h1 {
  font-family: "Golos-Regular";
  color: #003d9f;
  font-size: 2.6em;
}

header {
  background-color: #b9e0ff;
  padding: 35px 10px;
  display: flex;
  justify-content: space-between;
}

.mainWrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  width: 100%;
  font-family: "Golos-Regular";
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider__roll {
  background: linear-gradient(#30a5ff, #3644d9);
  left: 0;
  position: relative;
  transition: 0.4s;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.slider__item {
  background-color: #000;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  align-items: center;
  background-size: 100% auto;
}

.slider__cityName {
  font-size: 5em;
  text-shadow: 1px 1px 10px #000;
}

.slider__temp {
  font-size: 1.4em;
}

.slider__tempInfo {
  font-size: 3.5em;
}

.slider__wind {
  font-size: 2.7em;
}

.slider__pag {
  display: flex;
  position: absolute;
  bottom: 10px;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.slider__dot {
  display: block;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.active-dot {
  background-color: rgba(255, 255, 255, 0.7647058824);
}

.slider__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 10px;
  left: 15px;
  text-align: left;
}

.switch-button {
  padding: 10px;
  font-size: 1.5em;
  border-radius: 10px;
  font-family: "Golos-Regular";
  max-width: 260px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5568627451);
  cursor: pointer;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid rgba(54, 54, 56, 0.6549019608);
  border-radius: 50%;
  -webkit-animation: spinner 1.5s linear infinite;
          animation: spinner 1.5s linear infinite;
}

.App {
  height: 100vh;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search {
  font-family: "Golos-Regular";
  font-size: 30px;
  max-width: 600px;
  margin-bottom: 50px;
}

.search__text {
  margin-bottom: 15px;
}

.search__input {
  padding: 5px;
  font-family: "Golos-Medium";
  font-size: 30px;
  width: 100%;
  border-radius: 10px;
}

.search__hint {
  list-style: none;
  border: 1px solid;
  margin-top: 5px;
  border-radius: 10px;
  border-bottom: none;
  width: 100%;
}
.search__hint li {
  border-bottom: 1px solid;
  cursor: pointer;
}

.detail-inform {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 10px;
}

.detail-inform__header {
  font-size: 35px;
  font-family: "Golos-Bold";
  text-align: center;
  padding: 10px 0;
}

.detail-inform__date {
  font-family: "Golos-Medium";
  background-color: #b9e0ff;
}

.detail-inform__cell {
  border: 1px solid;
  font-family: "Golos-Regular";
  font-size: 19px;
  text-align: center;
}
.detail-inform__cell p {
  padding: 4px;
}

.notfound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound__text {
  font-size: 3.5em;
}

@media (max-width: 1300px) {
  .detail-inform__header {
    font-size: 20px;
  }
  .detail-inform__cell {
    font-size: 15px;
  }
}
@media (max-width: 1080px) {
  .detail-inform__header {
    font-size: 20px;
  }
  .detail-inform__cell {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .detail-inform {
    grid-template-columns: repeat(6, 1fr);
  }
  .slider__text {
    font-size: 0.7em;
  }
  table td {
    font-size: 20px;
  }
  .slider__tempInfo {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  .switch-button {
    padding: 6px;
  }
}
@media (max-width: 768px) {
  .detail-inform__cell {
    font-size: 14px;
  }
  .detail-inform__header {
    font-size: 22px;
  }
  .slider__text {
    gap: 10px;
  }
  .slider__item {
    background-size: auto 100%;
  }
}
@media (max-width: 600px) {
  .detail-inform__cell {
    font-size: 12px;
  }
  .modale_content {
    padding: 5px 5px;
  }
  .detail-inform__header {
    font-size: 15px;
  }
  .mainWrapper {
    padding: 0;
  }
}
@media (max-width: 536px) {
  .slider__text {
    font-size: 0.5em;
    gap: 5px;
  }
  .detail-inform__cell {
    font-size: 7px;
  }
  .detail-inform {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 390px) {
  .modale_detailInform {
    padding: 10px;
  }
  .detail-inform__header {
    font-size: 10px;
  }
  .slider__text {
    font-size: 0.35em;
    gap: 0;
  }
  .detail-inform {
    grid-template-columns: repeat(4, 1fr);
  }
  .slider__dot {
    height: 15px;
    width: 15px;
    border: 2px solid #fff;
  }
}/*# sourceMappingURL=Main.css.map */